body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#calculator {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen {
    text-align: right;
    width: 320px;
    height: 80px;
    border: 2px solid #000;
}

#output {
    font-size: 3em;
    padding: 10px;
}

#keyboard {
    width: 320px;
}

.keys-row {
    display: flex;
    justify-content: center;
}

.key {
    font-size: 2em;
    height: 80px;
    width: 80px;
    padding: 0;
}

.bigkey {
    font-size: 2em;
    height: 80px;
    width: 160px;
}

#keyboard, .keys-row > * {
    font-family: inherit;
    border: 1px solid #000;
}

.op {
    color: #fff;
    background-color: blue;
}

.op:hover {
    background-color: rgb(117, 117, 243);
}

#result {
    color: #fff;
    background-color: green;
}

#result:hover {
    background-color: rgb(117, 243, 117);
}

#undo {
    font-size: 1.5em;
    color: #fff;
    background-color: red;
}

#undo:hover {
    background-color: rgb(243, 117, 117);
}
