body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

button:hover {
    color: #3882f6;
    background-color: #e5e7eb;
    cursor: pointer;
}

header {
    background-color: #1f2937;
    height: 500px;
}

nav {
    height: 100px;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
}

#nav-logo {
    height: 100px;
    background-color: #1f2937;
}

#nav-menu, .hero-h2 {
    font-size: 18px;
    color: #e5e7eb;
}

#nav-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-a {
    color: inherit;
    text-align: center;
    width: 150px;
    padding: 10px;
}

.menu-a:hover {
    color: #1f2937;
    background-color: #e5e7eb;
}

.hero-h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

#hero {
    display: flex;
    justify-content: center;
}

#hero-texts {
    width: 400px;
    padding: 10px;
    margin-right: 25px;
}

.hero-h2 {
    color: #e5e7eb;
    font-size: 18px;
}

#hero-img {
    height: 300px;
    padding: 10px;
    margin-left: 25px;
}
