body {
    font-family: 'Mountains of Christmas', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3em;
}

#set-grid-size {
    padding: 10px 0;
}

#btn-set-size {
    font-size: 1.5em;;
    width: 150px;
    height: 75px;
}

#grid {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
    justify-content: center;
}

.square {
    background-color: black;
    cursor: crosshair;
}

.square:hover {
    background-color: white;
}
